<td class="{{ class }} text-center">
    <span class="label label-default" style="{% if item.color %}background-color:{{ item.color }};{% endif %}"><i class="ri-focus-line"></i>{{ item.points }}</span>
</td>
