.input-group-addon label {
    margin-bottom: 0px;
}
.vector-map {
	height: 350px;
    color: transparent;
}
.jvectormap-container {
    height:100%;
    width:100%;
}
.dashboard-widgets .sortable-placeholder {
    background-color: #fff;
    border: 1px dashed #4e5d9d;
    flex-grow: 0;
}
.dashboard-widgets.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
}
.dashboard-widgets .card {
    margin: 10px;
    background: var(--white);
    border-radius: var(--border-radius-m);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: box-shadow var(--timing), -moz-transform var(--timing);
    -o-transition: box-shadow var(--timing), -o-transform var(--timing);
    -webkit-transition: box-shadow var(--timing), -webkit-transform var(--timing);
    transition: box-shadow var(--timing), transform var(--timing);
    position: relative;
}
.dashboard-widgets .card:hover {
    box-shadow: var(--box-shadow-l);
}
.card-header {
    padding: 15px 5px;
}
.dashboard-widgets .card-header h4 {
    padding: 10px 15px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboard-widgets .card-header .dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--items-primary-bg-color);
    border-radius: var(--border-radius-s);
    transition: background-color var(--timing);
}
.dashboard-widgets .card-header .dropdown:hover {
    background-color: var(--items-primary-bg-color-hover);
    }
.dashboard-widgets .card-header .dropdown-toggle .fa-ellipsis-v {
    font-size: 15px;
    color: var(--items-primary-color);
    transition: color var(--timing);
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.dashboard-widgets .card-header .dropdown-toggle .fa-ellipsis-v:hover {
    color: var(--items-primary-color-changed);
    }
.dashboard-widgets .card table {
    table-layout: fixed;
}
.dashboard-widgets .card table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboard-widgets .card table td:last-child {
    width: 30px;
}

.chart-wrapper {
    position: relative;
}
.chart-wrapper .legend {
    background: #000;
    opacity: 0;
    position: absolute;
    bottom: -17px;
    width: 100%;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
}
.chart-wrapper:hover .legend {
    opacity: 0.8;
}
.chart-wrapper .legend ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.chart-wrapper .legend li {
    margin: 0 10px;
    padding: 5px 0;
}
.chart-wrapper .legend li span {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-right: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .dashboard-widgets .widget {
        width: 100% !important;
    }
}

#dashboard-widgets .spinner {
    text-align: center;
    line-height: 250px;
    font-size: 24px;
}
