//
// bullet
// --------------------------------------------------

.bullet {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $gray-600;

  // contextual
  &.bullet-primary { background-color: $primary; }
  &.bullet-success { background-color: $brand-success; }
  &.bullet-info { background-color: $brand-info; }
  &.bullet-warning { background-color: $brand-warning; }
  &.bullet-danger { background-color: $brand-danger; }
}
