//
// Panels
// --------------------------------------------------

.card, .panel2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid $panel-default-border;
  background-color: var(--background);
  transition: var(--transition-all-productive);
}

// Panel heading
// ------------------------
.card-header {
  padding: 0 15px;
  @include clearfix();

  // Panel title
  .card-title {
    padding: ((33 - $font-size-base) / 2) 0;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
  }

  // Panel toolbar
  .card-toolbar {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
  }
}

// Panel body
.card-body {
  flex-grow: 1;
}

// Panel group
// ------------------------
.card-group {
  .card {
    @include box-shadow(none);
  }
}

.card-toolbar-wrapper {
  display: block;
  background-color: var(--layer);
  border-bottom: 1px solid var(--border-subtle);
  padding: 0px 15px;
}
