//
// Panels
// --------------------------------------------------

.card, .panel, .panel2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid $panel-default-border;
  background-color: var(--background);
  transition: var(--transition-all-productive);
}

// Panel heading
// ------------------------
.card-header, .panel-heading {
  padding: 0 15px;
  @include clearfix();

  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }

  // Panel title
  .card-title, .panel-title {
    padding: 9.5px 0;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
  }

  // Panel toolbar
  .card-toolbar, .panel-toolbar {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
  }
}

// Panel body
.card-body, .panel-body {
  flex-grow: 1;
}

.panel-footer {
  padding: 10px 15px;
}

// Panel group
// ------------------------
.card-group, .panel-group {
  .card, .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.card-toolbar-wrapper, .panel-toolbar-wrapper {
  display: block;
  background-color: var(--layer);
  border-bottom: 1px solid var(--border-subtle);
  padding: 0px 15px;
}
