//
// Progress bars
// --------------------------------------------------

// Progress Itself
// -------------------------
.progress {
  background-color: var(--border-subtle);
  @include box-shadow(none);

  // Sizing
  &.progress-md {
    height: ($line-height-computed - 6); // 12px
    border-radius: $border-radius-small;
  }
  &.progress-sm {
    height: ($line-height-computed - 10); // 8px
    border-radius: $border-radius-small;
    margin-top: 2px;
  }
  &.progress-xs {
    height: ($line-height-computed - 14); // 4px
    border-radius: $border-radius-small;
  }
}
.progress-bar {
  @include box-shadow(none);
  @include transition(width 4.0s ease);
}

// Variations
// -------------------------
.bg-success {
  @include progress-bar-variant($bg-success-bg);
}
.bg-info {
  @include progress-bar-variant($bg-info-bg);
}
.bg-warning {
  @include progress-bar-variant($bg-warning-bg);
}
.bg-danger {
  @include progress-bar-variant($bg-danger-bg);
}

// Progress inside sidebar
// -------------------------
.app-sidebar {
  .progress {
    background-color: lighten($sidebar-left-bg, 3%);
  }
}