// Spinning Icons
// --------------------------

.ri-spin {
  -webkit-animation: ri-spin 2s infinite linear;
          animation: ri-spin 2s infinite linear;
          display: inline-flex;
}

@media (prefers-reduced-motion: reduce) {
  .ri-spin {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
  }
}

@-webkit-keyframes ri-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes ri-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
