/* Error: $color: var(--link-primary) is not a color.
 *     ,
 * 185 |     "r": red($color),
 *     |          ^^^^^^^^^^^
 *     '
 *   node_modules/bootstrap/scss/_functions.scss 185:10                         luminance()
 *   node_modules/bootstrap/scss/_functions.scss 174:8                          contrast-ratio()
 *   node_modules/bootstrap/scss/_functions.scss 159:22                         color-contrast()
 *   node_modules/bootstrap/scss/_variables.scss 846:42                         @import
 *   app/bundles/CoreBundle/Assets/scss/libraries/bootstrap/bootstrap.scss 7:9  @import
 *   app/bundles/CoreBundle/Assets/scss/app.scss 68:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: var(--link-primary) is not a color.\a     \2577 \a 185 \2502      "r": red($color),\a     \2502           ^^^^^^^^^^^\a     \2575 \a   node_modules/bootstrap/scss/_functions.scss 185:10                         luminance()\a   node_modules/bootstrap/scss/_functions.scss 174:8                          contrast-ratio()\a   node_modules/bootstrap/scss/_functions.scss 159:22                         color-contrast()\a   node_modules/bootstrap/scss/_variables.scss 846:42                         @import\a   app/bundles/CoreBundle/Assets/scss/libraries/bootstrap/bootstrap.scss 7:9  @import\a   app/bundles/CoreBundle/Assets/scss/app.scss 68:9                           root stylesheet';
}
